@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --bb-dark-blue: #0d4877;
  --bb-light-blue: #2ca3e1;
  --bb-black: black;
  --bb-dark-gray: #59595c;
  --bb-light-gray: #e6e7e7;
  --bb-white: white;

  --content-background-color: var(--bb-white);
  --content-text-color: var(--bb-black);

  --map-background-color: var(--bb-light-gray);
  
  --button-background-color: var(--bb-black);
  --subtle-button-background-color: var(--bb-light-gray);
  --subtle-button-text-color: var(--bb-black);
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  color: var(--content-text-color);
}

/*= Map Container */

#map {
  background-color: var(--map-background-color);
}

/*= Content Panel */

article h1 {
  padding-right: 2rem;
}

a.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  right: 0.5rem;
  left: auto;
  box-shadow: none;
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: var(--subtle-button-background-color);
  color: var(--subtle-button-text-color);
}

a.close-btn span {
  display: none;
}

@media (width >= 960px) {
  a.close-btn {
    left: -3rem;
    background-color: var(--content-background-color);
  }

  #content {
    left: auto;
    width: 24rem;
    box-sizing: border-box;
  }

  article h1 {
    padding-right: 0;
  }

  .content-visible #map-container {
    right: 24rem;
    left: 0;
    margin-left: 0;
    width: auto;
  }
}

/*= Location Summary */

.closest-station-info .station-name,
.closest-station-info .station-distance {
  font-weight: bold;
}