{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block site-title %}
<a href="/{{ config.app.home_path }}">{{ config.app.name }}</a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{% endblock %}

<!--
  Additional libraries go here
-->
{% block cdn_load %}
<!-- Mapbox GL & Search -->
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet" />

<script id="mapbox-search-js" defer src="https://api.mapbox.com/search-js/v1.2.0/web.js"></script>
<script>
  const script = document.getElementById('mapbox-search-js');
  script.onload = function () {
    const searchBoxElement = new mapboxsearch.MapboxSearchBox();
    searchBoxElement.id = 'place-search-box';
    searchBoxElement.accessToken = '{{ settings.MAPBOX_TOKEN }}';
    searchBoxElement.theme = {
      variables: {
        borderRadius: '0.5rem',
        boxShadow: '0 0 0.5rem rgba(0, 0, 0, 0.25)',
        fontFamily: '"DM Sans", sans-serif',
        lineHeight: '1',
      }
    };

    const mapContainer = document.getElementById('map-container');
    mapContainer.insertAdjacentElement('beforebegin', searchBoxElement);
  };
</script>

<!-- Deck.GL -->
<script src="https://unpkg.com/deck.gl@9.1.12/dist.min.js"></script>

<!-- Turf.js -->
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>
{% endblock %}


<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script src="{% static 'js/views/location-summary-view.js' %}"></script>
<script src="{% static 'js/bluebikes-data-ext.js' %}"></script>
<script src="{% static 'js/place-form-view-subfields-ext.js' %}"></script>
<script src="{% static 'js/place-form-view-custom-validity-ext.js' %}"></script>

<img id="bluebikes-station-icon" src="{% static 'mapstyle/bluebikes-station-icon.png' %}" class="hidden" alt="Bluebikes Station Icon" />
{% endblock %}
